<html>
    <head>
        <title>Sylvia's blog</title>
    </head>
    <body>
        <div>
          <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
          <p>published: 8/9/2017, 10:00 PM</p>
          <h2><a href="">My First Post</a></h2>
          <p>Hi guys!! Welcome to my blog! Can you believe I actually coded this?</p>
        </div>

        <div>
          <p>published: 8/11/2017, 9:18 AM</p>
          <h2><a href="">My Second Post</a></h2>
          <p>So this is my second post but I don't know what to write so....yeah.</p>
        </div>
    </body>
</html>
